<div id="spot-form">
  <%= form_with model: spot, url: plan_spots_path(plan) do |f|%>
    <div class="flex mx-auto md:mx-20 my-3 border rounded-lg"> 
      <%= f.text_field :name, id:"pac-input", class:"input input-sm md:input-lg w-full max-w-xs md:max-w-full rounded-none rounded-l-lg", placeholder:"スポット名を入力してね" %>
      <!-- JSコードで処理したスポット名だけを取得 -->
      <%= f.hidden_field :name, id: "spot_name_input" %>
      <%= f.submit "登録", class:"text-base-content btn btn-secondary btn-sm md:btn-lg rounded-none rounded-r-lg" %>
    </div>
  <% end %>
</div>

<script>
  function initAutocomplete() {
    const input = document.getElementById("pac-input");
    const options = {
      fields: ["address_components", "name"],
    };
    const autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.bindTo("bounds", map);

    autocomplete.addListener("place_changed", function() {
      const place = autocomplete.getPlace();
      if (!place.name || !place.name.length) {
        return; // 名前がない場合や長さが0の場合は処理しない
      }
      // 太字の部分（スポット名）だけを取得してフォームにセット
      const spotName = place.name;
      document.getElementById("spot_name_input").value = spotName;
    });
  }
  initAutocomplete();
</script>
