<input type="text" class="input input-sm md:input-lg w-full max-w-xs md:max-w-full rounded-none rounded-l-lg" placeholder="スポット名を入力してね" />
    <button class="btn btn-secondary btn-sm md:btn-lg rounded-none rounded-r-lg">登録</button>