<div id="spot-form">
  <%= form_with model: spot, url: plan_spots_path(plan) do |f|%>
    <div class="flex mx-auto md:mx-20 my-3 border rounded-lg"> 
      <%= f.text_field :name, id:"pac-input", class:"input input-sm md:input-lg w-full max-w-xs md:max-w-full rounded-none rounded-l-lg", placeholder:"スポット名を入力してね" %>
      <!-- JSコードで処理したスポット名だけを取得 -->
      <%= f.hidden_field :name, id: "spot_name_input" %>
      <%= f.submit "登録", class:"text-base-content btn btn-secondary btn-sm md:btn-lg rounded-none rounded-r-lg" %>
    </div>
  <% end %>
</div>
