<div class="m-4">
  <h1>Staticpages#top</h1>
  <p>Find me in app/views/staticpages/top.html.erb</p>
  <h1 class="text-3xl underline">
      Hello world!
  </h1>  
  <button class="btn btn-primary text-base-content">daisyUI</button>
  <button class="btn btn-accent text-base-content">daisyUI</button>
  <button class="btn btn-secondary text-base-content">daisyUI</button>
  <button class="btn btn-info text-base-content">info</button>
  <button class="btn btn-error text-base-content">error</button>
  <%= link_to 'プラン一覧', plans_path, class: "btn btn-success text-base-content" %>
  <%= link_to '地図を見る', new_plan_path, class: "btn btn-warning text-base-content" %>
  <%= link_to '会員登録', new_user_registration_path, class: "btn btn-primary text-base-content" %>
</div>