<header class="bg-base-100 shadow-sm md:flex md:justify-between md:p-2">
  <div class="flex flex-col items-center space-x-3 pt-2 md:m-1">
    <%= link_to "Tripot Share", root_path, class:"text-xl md:text-3xl" %>
    <p class="text-xs mt-1">旅行計画共有サービス</p>
  </div>
  <div>
    <ul class="flex justify-end menu menu-horizontal md:m-2">
      <li class="link link-hover" ><%= link_to "アカウント登録", new_user_registration_path %></li>
      <li class="link link-hover"><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
  </div>

</header>