<% if object.errors.any? %>
  <div id="error_explanation" class="bg-warning text-base-content">
    <ul class="mb-0">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>          
      <% end %>
    </ul>
  </div>
<% end %>