<footer class="absolute bottom-0 bg-secondary rounded shadow-inner w-full">
  <div class="max-w-screen-xl mx-auto md:py-5">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex flex-col items-center space-x-3 m-4 mt-2">
        <h2 class="text-3xl">
          Tripot Share
        </h2>
        <p class="text-xs mt-1">旅行計画共有サービス</p>
      </div>
      <ul class="flex flex-col text-sm items-center m-6 font-medium gap-2">
        <li>
          <%= link_to "利用規約", "#" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", "#" %>
        </li>
        <li>
          <%= link_to "お問い合わせ", "#" %>
        </li>
      </ul>
    </div>
    <hr class="border-gray-700 m-3 md:my-6" />
    <span class="block text-sm text-center pb-3">© 2024 Tripot Share</span>
  </div>
</footer>