<footer class="bg-secondary rounded bottom-0 shadow-inner">
  <div class="w-full max-w-screen-xl mx-auto md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex flex-col items-center space-x-3 mb-4 sm:mb-0 mt-2">
        <h2 class=" text-3xl">
          TripotShare
        </h2>
        <p class="text-xs">いきたいスポット共有サービス</p>
      </div>
      <ul class="flex flex-col text-sm items-center mb-6 font-medium gap-2 sm:mb-0">
        <li>
            <%= link_to "利用規約", "#" %>
        </li>
        <li>
            <%= link_to "プライバシーポリシー", "#" %>
        </li>
        <li>
          <%= link_to "お問い合わせ", "#" %>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-700 lg:my-8" />
    <span class="block text-sm text-center">© 2024 TripotShare</span>
  </div>
</footer>