<%= turbo_frame_tag 'modal' do %>
  <dialog data-modal-target="dialog" class="p-8 rounded-lg backdrop:bg-black/80">
    <p>私です</p>
    <button autofocus data-action="modal#close" class="px-2.5 py-1 bg-blue-500 text-white text-sm rounded">Close</button>
  </dialog>
<% end %>