<div class="m-5">
  <div data-controller="tabs" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t-xl bg-primary">
    <div class="flex overflow-x-auto">
      <div class="flex-none">
        <ul class="list-reset flex">
          <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="text-xs md:text-lg inline-block px-2 md:py-2 md:px-4 rounded-t-xl">検索結果</a>
          </li>
        </ul>
      </div>
    </div>

      <div class="hidden py-4 px-4 border bg-base-100 rounded-box rounded-tl-none" data-tabs-target="panel">
        <div class="overflow-auto h-[400px] w-[300px] md:w-[1300px] mx-auto">
          <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th class="md:w-[100px]"></th>
                <th>スポット名</th>
                <th class="md:w-[100px]">登録者</th>
                <th class="md:w-[100px]"></th>
                <th class="md:w-[100px]"></th>
              </tr>
            </thead>
            <tbody id="course-table" data-controller="sortable" data-sortable-handle-selector-value=".sortable-handle">
              <tr id="start-location">
                <td></td>
                <td>  
                  <%= render 'spots/modal', spot: start_location %>
                </td>
                <td>
                  出発地
                </td>
                <td></td>
              </tr>
              <% ranking_spots.each do |spot| %>
                <% spot_subscribers[spot.id].each do |user| %>
                  <%= render partial: 'spot', locals: { spot: spot, plan: plan, user: user, course: course } %>
                <% end %>
              <% end %>
              <tr id="end-location">
                <td></td>
                <td>  
                  <%= render 'spots/modal', spot: end_location %>
                </td>
                <td>
                  到着地
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="flex justify-center pt-2">
            <button id="re-search-button" class="text-base-content btn btn-primary btn-sm md:btn-lg">再検索</button>
          </div>
      </div>

  </div>
</div>