<%= search_form_for @q, url: plans_path do |f| %>
  <div class="flex justify-center">
    <%= f.search_field :name_cont, class: "input input-sm md:input-md input-bordered", placeholder: "例：卒業旅行 in 京都" %>
    <%= f.select :location_eq, options_for_select(Plan::JAPAN_PREFECTURES), {include_blank: ""}, {class: "select select-sm md:select-md select-bordered"} %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>